*{
    margin: 0px;
    padding:0px;
     box-sizing: border-box;

}
.main{
    border: 2px solid rgb(243, 145, 203) ;
    width: 60%;
    margin: auto;
    background-color:rgb(243, 145, 203);
    border-radius: 10px;
}

.container{
    /* border: 2px solid black; */
    width: 45%;
    height: 510px;
    margin:8rem auto;
    display: flex;
    flex-direction: column;
align-items: center;
    background-color: white;
    border-radius: 10px;
}

.container p{
    color: #797979;
}
.box{
    /* border: 2px solid yellow; */
 width: 410px;
    height: 130px;
    text-align: center;
    border-radius: 10px 10px 100px 100px;
    position: relative;
    top: 0px;
    background-color:rgba(246, 175, 201, 0.799);
}


.box img{
width: 140px;
height: 140px;
border-radius: 100px;
border: 8px solid rgb(251, 249, 249);
position: relative;
top: -80px;
}
.name{
    padding-top: 20px;
}


.posts{
    /* border: 2px solid yellow; */
    width: 360px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.lorem{
    /* border: 2px solid red; */
padding: 0px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btn{

    display: flex;
    margin: 40px;
}

.first-button button{
padding: 10px 20px;
background-color:rgba(246, 175, 201, 0.799);
 color: rgb(251, 2, 151);
 border-radius: 20px;
 border: none;
}
.second-button{
margin: 0px 10px;
}
.second-button button{
    padding: 10px 20px;
    background-color:rgba(246, 175, 201, 0.799);
 color: rgb(251, 2, 151);
 border-radius: 20px;
 border: none;
}
.third-button{
margin: 0px 10px;
}
.third-button button{
    padding: 10px 20px;
    background-color:rgba(246, 175, 201, 0.799);
 color: rgb(251, 2, 151);
 border-radius: 20px;
 border: none;
}
.four-button button{
 padding: 10px 20px;
 border: none;
 border-radius: 20px;
 background-color:rgba(246, 175, 201, 0.799);
 color: rgb(251, 2, 151);
}

.btn2{
    /* border: 2px solid red; */
    display: flex;


}

.button1{
 margin: 0px 10px;
}
.button1 button{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color:  rgb(251, 2, 151);;
}
.button2{
    margin: 0px 10px;
}
.button2 button{
    padding: 10px 22px;
    border-radius: 10px;
    border: 1px solid rgb(251, 2, 151);
}