*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color:#f6f6f6;
    font-size: 14px;
}


.left span:nth-child(1){
border-right: 2px solid rgb(9, 9, 9);
padding-right: 10px;
font-size: 14px;
}

.right ul {
    display: flex;
}
.right ul li{
    list-style: none;
}
.right ul .geft{
    border-right: 2px solid black;
    padding-right: 10px;
}
.right ul .track{
    border-right: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
}
.right ul .contact{
    padding-left: 10px;
    padding-right: 10px;
}


/* header-css strated */

*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .header{
            /* border: solid black; */
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            width: 85%;
            margin: auto;

        }
        .left-header img{
         height: 30px;
        }

        .middel-header ul{
            display: flex;
            list-style: none;
        }
        .middel-header ul li{
            margin: 20px;
        }
        .middel-header ul li:hover{
            color: rgb(42, 245, 42);
        }
        #shop{
            position: relative;
            transition: all 0.5s ease-in-out;
        }
        .inner ul{
        position: absolute;
        top: 70px;
        left: 0px;
        transition: all 300ms ease-in;
        /* visibility: hidden;
        display: block; */
        /* border: none; */
        padding: 0px;
font-size: 14px;
        border-radius: 0px;

    }

 .inner ul{

display: flex;
flex-direction: column;
opacity: 0;
width: 220px;
border: none;
font-family: sans-serif;
font-weight: 100;
margin: 0;
padding: 0;
background-color: white;


}
.inner ul li{
    border-bottom: 0.5px solid rgba(182, 179, 179, 0.855);
    margin: 0;
    padding: 0;
    padding: 15px;
}
#shop:hover .inner ul{
    transform: translateY(-22px);
    display: flex;
    flex-direction: column;
    display: block;
    opacity: 5;
    margin: 0;
    color: black;
    z-index: 2;
    /* border: 2px solid red; */
}
.inner ul li:hover{
    color: white;
    background-color: rgb(42, 245, 42);
}

 .inner1 ul{

display: flex;
flex-direction: column;
opacity: 0;
width: 220px;
border: none;
font-family: sans-serif;
font-weight: 100;
margin: 0;
padding: 0;
background-color: white;
    position: absolute;
        top: 120px;
        /* left: 0px; */
        transition: all 300ms ease-in;
        /* visibility: hidden;
        display: block; */
        /* border: none; */
        padding: 0px;
font-size: 14px;
        border-radius: 0px;
}

.inner1 ul li{
    border-bottom: 0.5px solid rgba(182, 179, 179, 0.855);
    margin: 0;
    padding: 0;
    padding: 15px;
}

.blog:hover .inner1 ul{
        transform: translateY(-20px);
    display: flex;
    flex-direction: column;
    display: block;
    opacity: 5;
    margin: 0;
    color: black;
    z-index: 2;
    /* border: 2px solid black; */
}
.inner1 ul li:hover{
    color: white;
    background-color: rgb(42, 245, 42);
}

.inner2 ul{

display: flex;
flex-direction: column;
opacity: 0;
width: 220px;
border: none;
font-family: sans-serif;
font-weight: 100;
margin: 0;
padding: 0;
background-color: white;
    position: absolute;
        top: 120px;
        /* left: 0px; */
        transition: all 300ms ease-in;
        /* visibility: hidden;
        display: block; */
        /* border: none; */
        padding: 0px;
font-size: 14px;
        border-radius: 0px;
}

.inner2 ul li{
    border-bottom: 0.5px solid rgba(182, 179, 179, 0.855);
    margin: 0;
    padding: 0;
    padding: 15px;
}

#pages:hover .inner2 ul{
        transform: translateY(-18px);
    display: flex;
    flex-direction: column;
    display: block;
    opacity: 5;
    margin: 0;
    color: black;
    z-index: 2;
    /* border: 2px solid black; */
}
.inner2 ul li:hover{
    color: white;
    background-color: rgb(42, 245, 42);
}
.bottom-header i{
    /* border: 2px solid black; */
    margin: 10px;
    transition: all 0.5s ease-in-out;

}
.bottom-header a:nth-child(1):hover{
    transform: translateX(-10px);
color: rgb(42, 245, 42);
}
.bottom-header a:nth-child(2):hover{
color: rgb(42, 245, 42);
transform: translateX(-10px);
}
.bottom-header a:nth-child(3):hover{
color: rgb(42, 245, 42);
transform: translateX(-10px);
}
.bottom-header a:nth-child(4):hover{
color: rgb(42, 245, 42);
transform: translateX(-10px);
}



/* header css end */

/* contsiner css started */

.container{
    /* border: 2px solid black; */
    width: 100vw;
    height: 100vh;
    background-image: url(https://themewagon.github.io/eiser/img/banner/banner-bg.jpg);
     background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    min-height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.content{
    display: flex;
    flex-direction: column;
    margin-right: 50%;
}
.content p{
    color: white;
    font-size: 16px;
}
h3{
    font-size: 4rem;
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;

}
h3 span{
    font-size:4rem;
    color: rgb(42, 245, 42);
    font-family: sans-serif;
    text-transform: capitalize;
}
h4{
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
}

.content a{
    background-color: rgb(42, 245, 42);
    color: white;
    width: 40%;
    padding: 0.8rem;
    text-align: center;
    text-decoration: none;
    margin: 15px 0px;
    font-family: sans-serif;
    text-transform: uppercase;
}


/* section 2 css started */


.section-2{
     /* border: 2px solid black; */
    width: 85%;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

}



.item{
     margin: 0;
    padding: 0;
    border: 1px solid rgb(33, 208, 10);
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    width:280px


}


 .item span i{
    font-size:2rem;
    padding: 1.8rem;
    color: #3c3b3b;
}
 .item h5{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    color:#2a2a2a;
    margin: 0;
}  .item p{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 100;
    color:#797979;
    padding: 20px;
    margin: 0;
}
.content-1{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}