*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;

}

.container{
    width: 100%;
    height: 100vh;
    background-image:url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     background-color: linear-gradient(rgba(0,0,0,0.4),grba(0,0,0,0.4));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formbox{
    width:90%;
    max-width: 450px;
    min-width: 350px;
    background-color: white;
    padding: 55px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -2px 2px 15px rgba(0,0,0,0.5);
}

.formbox h1{
    font-size: 30px;
    color: green;
}
.formbox .underline{
    width: 30px;
    height: 4px;
    background-color: green;
    margin: 10px auto 50px auto;
    border-radius: 5px;
    transition: transform .5s;
}

.input-feild{
 background:#eaeaea;
 margin: 15px 0px;
 border-radius: 10px;
 display: flex;
 align-items: center;
}

.input-feild input{
    width:100%;
    background:transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-feild i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: green;
}

.btn-feild{
    width: 100%;
    display: flex;
    justify-content: space-between;
max-height: 60px;
transition: max-height 0.5s;
overflow: hidden;
}
.btn-feild button{
    flex-basis: 48%;
    background:green;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 280px;
}
button.disiable{
    background: #eaeaea;
    color: #555;

}